<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./inc/head') %>
</head>
<body>
    <% if(data.username == "Mert"){ var isim = "Mert ECEVİT";} %>

    <p>Kullanıcı adı: <%= isim %></p>
    <p>Sifre: <%= data.sifre %></p>
</body>
</html>